.register{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  .container{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
  }
  .container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
  }
  .container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: #410165 ;
  }
  .container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  form .user-details .input-box{
    /* width: calc(100% / 2 - 20px); */
    width: 330px;
    margin-bottom: 10px;
  }
  .user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 15px;
  }
  .user-details .input-box input{
    height: 40px;
    width: 95%;
    outline: none;
    border-radius: 5px;
    padding-left: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  .user-details .input-box input:focus,
  .user-details .input-box input:valid{
    border-color:#8c11d8;
  }
  
  form .button{
    height: 45px;
    margin: 30px 0;
  }
  form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 1px;
    background: linear-gradient(to right, #42046bc0 0%, #8c11d8 50%, #410165 99%);
  }
  form .button input:hover{
    background: linear-gradient( #8c11d8 0%, #af53ecc0 50%, #8c11d8 88%);
  }